*{
    margin: 0; padding: 0; 
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}


h4{
    font-size: 2rem;
    font-weight: 600;
    color: #f48d43;
}

h5{
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    width: 100%;
    background-color: whitesmoke;
}




@media(max-width:991px){
    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #f48d43;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #f48d43;
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}


#tvchart {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    position: relative;
  }

  

  .chart-container {
    position: relative;
    width: 100%;
    height: 600px;
  }
  .controls-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
  }
  .search-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  #pair-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  #search-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f48d43;
    color: white;
    cursor: pointer;
  }
  .dropdown-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f48d43;
    color: white;
    cursor: pointer;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 10px;
  }
  .dropdown-menu button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: black;
    cursor: pointer;
  }
  .show {
    display: block;
  }
  #replay-button {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f48d43;
    color: white;
    cursor: pointer;
  }

  

  #replay-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  #replay-container button:hover {
    background-color: #ccc;
  }
  
  #buy-button {
    background-color: #4CAF50;
    color: #fff;
  }
  
  #buy-button:hover {
    background-color: #3e8e41;
  }
  
  #sell-button {
    background-color: #f44336;
    color: #fff;
  }
  
  #sell-button:hover {
    background-color: #e91e63;
  }

  #close-button {
    background-color: #2196F3;
    color: #fff;
  }
  
  #close-button:hover {
    background-color: #1976D2;
  }
  
  #start-replay-button, #reset-replay-button {
    background-color: #9E9E9E;
    color: #fff;
  }
  
  #start-replay-button:hover, #reset-replay-button:hover {
    background-color: #757575;
  }
  
  #speed-down-button, #speed-up-button {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
  }
    